<%-include("../layouts/header.ejs")-%>


<section class=" my-auto" style="background-image: url('https://wallpapercave.com/wp/wp2933953.jpg');">
    <div class="container py-5 h-100">
        <div style="margin-left: 1000px;">
            <p class=" text-white-50 mt-5 mb-5  text-center"> <a href="/login" 
                class="fw-bold text-white  text-center px-3 py-2 card-glow" >User-Login here</a></p>
        </div>
        <div class="row d-flex justify-content-center align-items-center h-100">
           
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="card bg-white bg-opacity-25 text-white card-glow" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <div class="m-5 mt-md-4">
                            <p class="text-white-50 mb-5">Admin Login</p>


                            <form action="/adminLogin" method="post">

                                <div class="form-outline form-white  mb-4">
                                    <input type="email" name="email" id="typeEmailX" class="form-control form-control-lg " placeholder="Email" />
                                </div>

                                <div class="form-outline form-white  mb-4">
                                    <input type="password" name="password" id="typePasswordX" class="form-control form-control-lg " placeholder="password" />
                                </div>
                                

                                <br> 
                                
                                 <br>
                              <button class="btn btn-outline-light btn-lg px-5" type="submit" >Login</button> 

                              <div>
                                <br>
                                <div>
              

                                    <%
                                    if(typeof message !== 'undefined'){
                                      %>
                                      <h5 class="text-warning text-center" id="invalidAdmin"><%= message %></h5>
                                      <%
                                    }
                                    %>
                        
                        
                        
                                    </div>
                                <br> <br>
                                
                                
                              </div>  



                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script>
    function adminErrMsg(){
 const msg= document.getElementById("invalidAdmin")
 if(msg){
  setTimeout(()=>{
  msg.style.display = "none"
 }, 4000)
 }
}
window.onload= adminErrMsg;
</script>



<%-include("../layouts/footer.ejs")-%>   